@font-face {
    font-family: "Nautilus Pompilius";
    src:
        url("font/nautilus/nautiluspompilius.woff") format("woff");
}

@font-face {
    font-family: "Clear Sans";
    src:
        url("font/clearsans/clearsans.woff") format("woff");
}

body {
    min-width:400px;
    
}
.vcenter {/*вертикальное вырабнивание: между блоками не делать отступы <!-- -->*/
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.background-blue {
    background-color:#50a3da;
    color:#FFFFFF;   
}

.background-green {
    background-color:#53b67d;
    color:#FFFFFF;    
}

.row-header {
    background-image: url("background_img/e7fRAvtiRW4_5.jpg");    
}

.row-footer {
    background-image: url("background_img/e7fRAvtiRW4_5.jpg");   
}

.row6 {
    background-image: url("background_img/KG5Q-VQAZcg_1.jpg");
    background-repeat: no-repeat;
    background-position: center;    
}

.row11 {
    background-image: url("background_img/BESt7uTRdVw_2.jpg");
    background-repeat: no-repeat;
    background-position: center;   
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px 0 #E5D4C0, 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    font-family: "Nautilus Pompilius";
    padding: 0.5em 0 0.5em 0;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: "Clear Sans";    
}

p {
    font-size: 20px;
    font-family: "Clear Sans";       
}

.border-blue {
    box-shadow: 0px 0px 20px 7px #407ba1;   
}

.border-green {
    box-shadow: 0px 0px 20px 7px #3a865a;    
}

.row-footer p {
    font-family: "Nautilus Pompilius";
}

.footer-text {
    padding: 1.5em 0 0 0;
    font-size: 40px;
    text-shadow: 2px 2px 0 #E5D4C0, 4px 4px 0 rgba(0, 0, 0, 0.2);    
}

.date {
    padding-bottom:0.5em;
    font-size: 30px;    
}

@media only screen and (max-width : 768px){
    .img-emblem {
    width: 200px;
    padding-bottom:2em;
    }
    
    .img-circle {
        width: 320px;  
    }   
}

@media only screen and (min-width : 768px){
    .img-emblem {
    width: 200px;
    padding-bottom:1em;
    }
    
    .img-circle {
        width: 250px;    
    }    
}

@media only screen and (min-width : 992px){
    .img-emblem {
    width: 250px;
    }
    
    .img-circle {
        width: 300px;   
    }   
}

@media only screen and (min-width : 1200px){
    .img-emblem {
    width: 250px;
    }
    
    .img-circle {
        width: 350px;  
    }   
}









