@font-face {
    font-family: "Nautilus Pompilius";
    src:
        url("font/nautilus/nautiluspompilius.woff") format("woff");
}

@font-face {
    font-family: "Clear Sans";
    src:
        url("font/clearsans/clearsans.woff") format("woff");
}

body {
    min-width:400px;
    
}
.vcenter {/*вертикальное вырабнивание: между блоками не делать отступы <!-- -->*/
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.background-blue {
    background-color:#50a3da;
    color:#FFFFFF;   
}

.background-green {
    background-color:#53b67d;
    color:#FFFFFF;    
}

.row-header {
    background-image: url("background_img/e7fRAvtiRW4_5.jpg");    
}

.row-footer {
    background-image: url("background_img/e7fRAvtiRW4_5.jpg");   
}

.row6 {
    background-image: url("background_img/KG5Q-VQAZcg_1.jpg");
    background-repeat: no-repeat;
    background-position: center;    
}

.row11 {
    background-image: url("background_img/BESt7uTRdVw_2.jpg");
    background-repeat: no-repeat;
    background-position: center;   
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px 0 #E5D4C0, 4px 4px 0 rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    font-family: "Nautilus Pompilius";
    padding: 0.5em 0 0.5em 0;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: "Clear Sans";    
}

p {
    font-size: 20px;
    font-family: "Clear Sans";       
}

.border-blue {
    box-shadow: 0px 0px 20px 7px #407ba1;   
}

.border-green {
    box-shadow: 0px 0px 20px 7px #3a865a;    
}

.row-footer p {
    font-family: "Nautilus Pompilius";
}

.footer-text {
    padding: 1.5em 0 0 0;
    font-size: 40px;
    text-shadow: 2px 2px 0 #E5D4C0, 4px 4px 0 rgba(0, 0, 0, 0.2);    
}

.date {
    padding-bottom:0.5em;
    font-size: 30px;    
}


.row1, .row6-1, .row11-1,.row14, .row15 {
    padding: 3em 0 3em 0;    
}

.row2and3 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); /*граница между 3 и 4 блоками - между Сергеем и Тимуром*/
    clip-path: url(index.html#idrow2and3);   /*запись через -webkit-clip-path для chromium, через clip-path: url для fierfox*/
}

.row2 {
    padding: 3em 0 8em 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);/*граница между 2 и 3 блоками - между Иваном и Сергеем*/
    clip-path: url(index.html#idrow2);
}

.row3 {
    padding: 1em 0 8em 0;
}

.row4 {
    padding: 3em 0 1em 0;   
}

.row5 {
    padding: 8em 0 8em 0;
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%);/*Андрей Смоленцев*/
    clip-path: url(index.html#idrow5);
}

.row6-2 {
    padding: 3em 0 1em 0;    
}

.row7 {
    padding: 9em 0 3em 0; /*препод Саша*/
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: url(index.html#idrow7);
    box-shadow: 0px 5px 0px 0px #53b67d;/*в fierfox спрятать под тенью белую границу между блоками одного цвета, но разных row*/
}

.row8and9and10 {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);/*грань между 10 и 11 блоками между Димой и Лешей*/
    clip-path: url(index.html#idrow8and9and10);    
}

.row8 {
     padding: 3em 0 2em 0;
}

.row9{
    padding: 8em 0 7em 0;/*Саша Волков - его блок между Геной и Димой*/
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    clip-path: url(index.html#idrow9);   
}

.row10 {
    padding: 3em 0 7em 0;    
}

.row11-2{
     padding: 3em 0 1em 0;
}

.row12 {
    padding: 8em 0 3em 0;/*блок между Славой и Ромой Шестюгиным*/
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    clip-path: url(index.html#idrow12);
    box-shadow: 0px 5px 0px 0px #50a3da;/*спрятать белую границу в fierfox между разными row в однотонном блоке */
}

.row13{
    padding: 3em 0 6em 0;/*последний блок между Андреем Зеленчуковым и Женей Одноваловым*/
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: url(index.html#idrow13);
}


@media only screen and (max-width : 768px){
    .img-emblem {
    width: 200px;
    padding-bottom:2em;
    }
    
    .img-circle {
        width: 320px;  
    }   
}

@media only screen and (min-width : 768px){
    .img-emblem {
    width: 200px;
    padding-bottom:1em;
    }
    
    .img-circle {
        width: 250px;    
    }    
}

@media only screen and (min-width : 992px){
    .img-emblem {
    width: 250px;
    }
    
    .img-circle {
        width: 300px;   
    }   
}

@media only screen and (min-width : 1200px){
    .img-emblem {
    width: 250px;
    }
    
    .img-circle {
        width: 350px;  
    }   
}









